{% extends 'base.html' %}

{% block content %}




<!-- End techno Main Menu Area -->
<!--==================================================-->

<!-- Start techno Sidebar Cart Item -->

{% load static %}
<!--==================================================-->
<!-- End techno Main Menu Area -->
<!--==================================================-->
<!-- Sidebar Cart Item -->
<div class="xs-sidebar-group info-group">
	<div class="xs-overlay xs-bg-black"></div>
	<div class="xs-sidebar-widget">
		<div class="sidebar-widget-container">
			<div class="widget-heading">
				<a href="#" class="close-side-widget">
					<i class="far fa-times-circle"></i>
				</a>
			</div>
			<div class="sidebar-textwidget">
				<!-- Sidebar Info Content -->
				<div class="sidebar-info-contents">
					<div class="content-inner">
						<div class="nav-logo">
							<a href="index.html"><img src="{% static 'assets/images/logo.png' %}" alt="" /></a>
						</div>
						<div class="content-box">
							<h2>About Us</h2>
							<p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>
							<a href="index-8.html" class="theme-btn btn-style-two"><span>Consultation</span> <i class="fas fa-heart"></i></a>
						</div>
						<div class="contact-info">
							<h2>Contact Info</h2>
							<ul class="list-style-one">
								<li><span class="icon flaticon-email-1"></span>Chicago 12, Melborne City, USA</li>
								<li><span class="flaticon-24-hours-1"></span>(+001) 123-456-7890</li>
								<li><span class="icon flaticon-placeholder-1"></span>globex@gmail.com</li>
								<li><span class="flaticon-24-hours-3"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
							</ul>
						</div>
						<!-- Social Box -->
						<ul class="social-box">
							<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
							<li class="twitter"><a href="#" class="fab fa-instagram"></a></li>
							<li class="linkedin"><a href="#" class="fab fa-twitter"></a></li>
							<li class="instagram"><a href="#" class="fab fa-pinterest-p"></a></li>
							<li class="youtube"><a href="#" class="fab fa-linkedin-in"></a></li>
						</ul>
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- start techno slider Area -->
<!--==================================================-->
<div class="breatcumb-area">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-12">
				<div class="breatcumb-content text-center">
					<div class="breatcumb-title">
						<h2>Contact us</h2>
					</div>
					<div class="breatcumb-content-text">
						<ul>
							<li><a href="{% url 'home' %}">home</a> <i class="fas fa-angle-double-right"></i> <span>Contact Us</span></li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End techno slider Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start techno contact us Area -->
<!--==================================================-->
<div class="contact-us-area style-two pt-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title style-two text-center">
					<h5>CONTACT US</h5>
					<h1>GET IN TOUCH ANY TIME</h1>
					<h1>WITH <span>PAETIN</span></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="contact-us-single-box">
							<div class="contact-us-icon">
								<i class="flaticon-suitcase"></i>
							</div>
							<div class="contact-us-title">
								<h2>Office Address</h2>
								<p>PAETIN INC. ACCRA. CAMEL STREET </p>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="contact-us-single-box">
							<div class="contact-us-icon">
								<i class="flaticon-call"></i>
							</div>
							<div class="contact-us-title">
								<h2>TELEPHONE NO.</h2>
								<p>+233 (246) 875 - 311</p>

							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="contact-us-single-box">
							<div class="contact-us-icon">
								<i class="flaticon-communications"></i>
							</div>
							<div class="contact-us-title">
								<h2>E-MAIL ADDRESS</h2>
								<p>phevab1@gmail.com</p>

							</div>
						</div>
					</div>
				</div>
			</div>

<!-- End techno contact us Area -->
<!--==================================================-->
<!-- scrollup section -->
<div class="scroll-area">
	<div class="top-wrap">
		<div class="go-top-btn-wraper">
			<div class="go-top go-top-button">
				<i class="fas fa-arrow-up"></i>
				<i class="fas fa-arrow-up"></i>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start scrollup section Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"><i class="far fa-times-circle"></i></span></button>
	<button class="close-search"><i class="fas fa-arrow-up"></i></button>
	<form method="post" action="#">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
	
	<!-- jquery js -->	
	<script src="{% static 'assets/js/vendor/jquery-3.2.1.min.js' %}"></script>
	<!-- bootstrap js -->	
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<!-- carousel js -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<!-- counterup js -->
	<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
	<!-- waypoints js -->
	<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'assets/js/wow.js' %}"></script>
	<!-- imagesloaded js -->
	<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
	<!-- venobox js -->
	<script src="{% static 'venobox/venobox.js' %}"></script>
	<!-- ajax mail js -->
	<script src="{% static 'assets/js/ajax-mail.js' %}"></script>
	<!--  animated-text js -->	
	<script src="{% static 'assets/js/animated-text.js' %}"></script>
	<!-- venobox min js -->
	<script src="{% static 'venobox/venobox.min.js' %}"></script>
	<!-- isotope js -->
	<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
	<!-- jquery nivo slider pack js -->
	<script src="{% static 'assets/js/jquery.nivo.slider.pack.js' %}"></script>
	<!-- jquery meanmenu js -->	
	<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<!-- jquery scrollup js -->	
	<script src="{% static 'assets/js/jquery.scrollUp.js' %}"></script>
	<!-- slick js -->	
	<script src="{% static 'assets/js/theme.js' %}"></script>
	<!-- slick js -->
	<script src="{% static 'assets/js/slick.js' %}"></script>
	<!-- slick js -->
	<script src="{% static 'assets/js/slick.min.js' %}"></script>
	<!-- jquery js -->
	<script src="{% static 'assets/js/jquery.barfiller.js' %}"></script>
	<!-- jquery js -->	
	<script>
    $(document).ready(function(){
	$('#bar3').barfiller({ duration: 7000 });
	$('#bar4').barfiller({ duration: 7000 });});
	</script>
	<!--faq jquery-->
    <script>
		(function($) {
    $('.accordion > li:eq(0) a').addClass('active').next().slideDown();

    $('.accordion a').click(function(j) {
        var dropDown = $(this).closest('li').find('p');

        $(this).closest('.accordion').find('p').not(dropDown).slideUp();

        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).closest('.accordion').find('a.active').removeClass('active');
            $(this).addClass('active');
        }

        dropDown.stop(false, true).slideToggle();

        j.preventDefault();
    });
})(jQuery);
	</script>
	<!--jave script -->
    <script>
        $(window).on('scroll', function () {
            var scrolled = $(window).scrollTop();
            if (scrolled > 300) $('.go-top').addClass('active');
            if (scrolled < 300) $('.go-top').removeClass('active');
        });

        $('.go-top').on('click', function () {
            $("html, body").animate({
                scrollTop: "0"
            }, 1200);
        });
    </script>

    <script>
	"use strict";
    jQuery(document).ready(function (o) {
        0 < o(".offset-side-bar").length &&
            o(".offset-side-bar").on("click", function (e) {
                e.preventDefault(), e.stopPropagation(), o(".cart-group").addClass("isActive");
            }),
            0 < o(".close-side-widget").length &&
                o(".close-side-widget").on("click", function (e) {
                    e.preventDefault(), o(".cart-group").removeClass("isActive");
                }),
            0 < o(".navSidebar-button").length &&
                o(".navSidebar-button").on("click", function (e) {
                    e.preventDefault(), e.stopPropagation(), o(".info-group").addClass("isActive");
                }),
            0 < o(".close-side-widget").length &&
                o(".close-side-widget").on("click", function (e) {
                    e.preventDefault(), o(".info-group").removeClass("isActive");
                }),
            o("body").on("click", function (e) {
                o(".info-group").removeClass("isActive"), o(".cart-group").removeClass("isActive");
            }),
            o(".xs-sidebar-widget").on("click", function (e) {
                e.stopPropagation();
            }),
            0 < o(".xs-modal-popup").length &&
                o(".xs-modal-popup").magnificPopup({
                    type: "inline",
                    fixedContentPos: !2,
                    fixedBgPos: !0,
                    overflowY: "auto",
                    closeBtnInside: !2,
                    callbacks: {
                        beforeOpen: function () {
                            this.st.mainClass = "my-mfp-slide-bottom xs-promo-popup";
                        },
                    },
                });
    });


    </script>
</body>

<!-- Mirrored from html.ditsolution.net/techno-digital-agency/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 May 2023 14:43:03 GMT -->
</html>
{% endblock %}