{% extends 'base.html' %}

{% block content %}




<!-- End techno Main Menu Area -->
<!--==================================================-->

<!-- Start techno Sidebar Cart Item -->

{% load static %}

<!--==================================================-->
<!-- End techno Main Menu Area -->
<!--==================================================-->


<
<!--==================================================-->
<!-- start techno slider Area -->
<!--==================================================-->
<div class="breatcome-area style-two">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-12">
				<div class="breatcumb-content text-center">
					<div class="breatcumb-content-text1">
						<ul>
							<li><a href="{% url 'home' %}"><span>home</span> Mission & Vission</a></li>
						</ul>
					</div>
					<div class="breatcumb-title1">
						<h2>Mission & Vission</h2>

					</div>		
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End techno slider Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start techno video Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start techno team Area -->
<!--==================================================-->
<div class="planing-area pt-100 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title style-two text-center">
					<h5>VISION</h5>
					<h1>VISION  <span>STATEMENTS</span></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="dreamit-single-planing-box">
					<div class="single-planing-thumb">
						<img src="{% static 'assets/images/resource/plan1.png" alt="">
					</div>
					<div class="planing-content">
						<div class="planing-title">
							<h3>Global Leadership</h3>
							<p> Establish ourselves as a global leader in the
								digital agency space, setting industry standards and
								being recognized for our expertise, innovation, and transformative
								solutions. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="dreamit-single-planing-box">
					<div class="single-planing-thumb">
						<img src="{% static 'assets/images/resource/plan2.png" alt="">
					</div>
					<div class="planing-content">
						<div class="planing-title">
							<h3>Cutting-Edge Technologies </h3>
							<p>Embrace and leverage the latest technologies to stay at the forefront of the digital landscape,
								offering our clients state-of-the-art solutions that deliver exceptional value. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="dreamit-single-planing-box">
					<div class="single-planing-thumb">
						<img src="{% static 'assets/images/resource/plan3.png" alt="">
					</div>
					<div class="planing-content">
						<div class="planing-title">
							<h3>Transformative Experiences </h3>
							<p>Create digital experiences that go beyond aesthetics, leaving a lasting impact
								on users, driving engagement, and elevating our clients' brands to new heights. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!--End techno team Area -->
<!--==================================================-->

<!--==================================================-->


<!--==================================================-->
<!--Start mission Area -->
<!--==================================================-->
<div class="vission-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="dreamit-section-title ">
					<h5>MISSION</h5>
					<h1>WORLD TOP SOFTWARE AGENCY</h1>
					<h1>OUR MAIN  <span>MISSION</span></h1>
					<p>INNOVATION <BR> Continuously push the boundaries of technology and explore innovative
						solutions to deliver cutting-edge digital experiences for our clients.</p>
				</div>
				<div class="elementor-about-icon-box">
					<div class="about-icon">
						<i class="fas fa-check"></i>
					</div>
					<div class="elementor-about-title">
						<p>CRAFTSMANSHIP <BR> Combine creativity, expertise, and attention to detail to craft exceptional digital
							products that exceed client expectations and drive tangible results.</p>
					</div>
					<div class="about-icon">
						<i class="fas fa-check"></i>
					</div>
					<div class="elementor-about-title">
						<p>CUSTOMER SERVICE  <br> Provide unparalleled customer service, ensuring open communication, proactive
							collaboration, and a personalized approach to meet the unique needs of each client.</p>
					</div>
					<div class="about-icon">
						<i class="fas fa-check"></i>
					</div>
					<div class="elementor-about-title">
						<p>EMPOWER BUSINESSES  <br>To empower businesses with innovative digital solutions, exceptional craftsmanship, and unrivaled customer
							service, enabling them to thrive and achieve success in the digital realm.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End mission Area -->
<!--==================================================-->

<!--==================================================-->

<!--==================================================-->
<!-- Start techno Footer Middle Area -->
<!--==================================================-->

<!--==================================================-->
<!-- End techno Footer Middle Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start scrollup section Area -->
<!--==================================================-->
<!-- scrollup section -->
<div class="scroll-area">
	<div class="top-wrap">
		<div class="go-top-btn-wraper">
			<div class="go-top go-top-button">
				<i class="fas fa-arrow-up"></i>
				<i class="fas fa-arrow-up"></i>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start scrollup section Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"><i class="far fa-times-circle"></i></span></button>
	<button class="close-search"><i class="fas fa-arrow-up"></i></button>
	<form method="post" action="#">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
	
	<!-- jquery js -->	
	<script src="{% static 'assets/js/vendor/jquery-3.2.1.min.js' %}"></script>
	<!-- bootstrap js -->	
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<!-- carousel js -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<!-- counterup js -->
	<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
	<!-- waypoints js -->
	<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
	<!-- wow js -->
	<script src="{% static 'assets/js/wow.js' %}"></script>
	<!-- imagesloaded js -->
	<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
	<!-- venobox js -->
	<script src="{% static 'venobox/venobox.js' %}"></script>
	<!-- ajax mail js -->
	<script src="{% static 'assets/js/ajax-mail.js' %}"></script>
	<!--  animated-text js -->	
	<script src="{% static 'assets/js/animated-text.js' %}"></script>
	<!-- venobox min js -->
	<script src="{% static 'venobox/venobox.min.js' %}"></script>
	<!-- isotope js -->
	<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
	<!-- jquery nivo slider pack js -->
	<script src="{% static 'assets/js/jquery.nivo.slider.pack.js' %}"></script>
	<!-- jquery meanmenu js -->	
	<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<!-- jquery scrollup js -->	
	<script src="{% static 'assets/js/jquery.scrollUp.js' %}"></script>
	<!-- slick js -->	
	<script src="{% static 'assets/js/theme.js' %}"></script>
	<!-- slick js -->
	<script src="{% static 'assets/js/slick.js' %}"></script>
	<!-- slick js -->
	<script src="{% static 'assets/js/slick.min.js' %}"></script>
	<!-- jquery js -->
	<script src="{% static 'assets/js/jquery.barfiller.js' %}"></script>
	<!-- jquery js -->	
	<script>
    $(document).ready(function(){
	$('#bar3').barfiller({ duration: 7000 });
	$('#bar4').barfiller({ duration: 7000 });});
	</script>
	<!--faq jquery-->
    <script>
		(function($) {
    $('.accordion > li:eq(0) a').addClass('active').next().slideDown();

    $('.accordion a').click(function(j) {
        var dropDown = $(this).closest('li').find('p');

        $(this).closest('.accordion').find('p').not(dropDown).slideUp();

        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).closest('.accordion').find('a.active').removeClass('active');
            $(this).addClass('active');
        }

        dropDown.stop(false, true).slideToggle();

        j.preventDefault();
    });
})(jQuery);
	</script>
	<!--jave script -->
    <script>
        $(window).on('scroll', function () {
            var scrolled = $(window).scrollTop();
            if (scrolled > 300) $('.go-top').addClass('active');
            if (scrolled < 300) $('.go-top').removeClass('active');
        });

        $('.go-top').on('click', function () {
            $("html, body").animate({
                scrollTop: "0"
            }, 1200);
        });
    </script>

    <script>
	"use strict";
    jQuery(document).ready(function (o) {
        0 < o(".offset-side-bar").length &&
            o(".offset-side-bar").on("click", function (e) {
                e.preventDefault(), e.stopPropagation(), o(".cart-group").addClass("isActive");
            }),
            0 < o(".close-side-widget").length &&
                o(".close-side-widget").on("click", function (e) {
                    e.preventDefault(), o(".cart-group").removeClass("isActive");
                }),
            0 < o(".navSidebar-button").length &&
                o(".navSidebar-button").on("click", function (e) {
                    e.preventDefault(), e.stopPropagation(), o(".info-group").addClass("isActive");
                }),
            0 < o(".close-side-widget").length &&
                o(".close-side-widget").on("click", function (e) {
                    e.preventDefault(), o(".info-group").removeClass("isActive");
                }),
            o("body").on("click", function (e) {
                o(".info-group").removeClass("isActive"), o(".cart-group").removeClass("isActive");
            }),
            o(".xs-sidebar-widget").on("click", function (e) {
                e.stopPropagation();
            }),
            0 < o(".xs-modal-popup").length &&
                o(".xs-modal-popup").magnificPopup({
                    type: "inline",
                    fixedContentPos: !2,
                    fixedBgPos: !0,
                    overflowY: "auto",
                    closeBtnInside: !2,
                    callbacks: {
                        beforeOpen: function () {
                            this.st.mainClass = "my-mfp-slide-bottom xs-promo-popup";
                        },
                    },
                });
    });
    </script>
</body>

<!-- Mirrored from html.ditsolution.net/techno-digital-agency/mission.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 May 2023 14:42:55 GMT -->
</html>

{% endblock %}