
{% extends 'base.html' %}

{% block content %}




<!-- End techno Main Menu Area -->
<!--==================================================-->

<!-- Start techno Sidebar Cart Item -->

{% load static %}

<!--==================================================-->
<!-- End techno Main Menu Area -->
<!--==================================================-->

<!-- Sidebar Cart Item -->
<div class="xs-sidebar-group info-group">
	<div class="xs-overlay xs-bg-black"></div>
	<div class="xs-sidebar-widget">
		<div class="sidebar-widget-container">
			<div class="widget-heading">
				<a href="#" class="close-side-widget">
					<i class="far fa-times-circle"></i>
				</a>
			</div>
			<div class="sidebar-textwidget">
				<!-- Sidebar Info Content -->
				<div class="sidebar-info-contents">
					<div class="content-inner">
						<div class="nav-logo">
							<a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.png' %}" alt="" /></a>
						</div>
						<div class="content-box">
							<h2>About Us</h2>
							<p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>
							<a href="index-8.html" class="theme-btn btn-style-two"><span>Consultation</span> <i class="fas fa-heart"></i></a>
						</div>
						<div class="contact-info">
							<h2>Contact Info</h2>
							<ul class="list-style-one">
								<li><span class="icon flaticon-email"></span>Chicago 12, Melborne City, USA</li>
								<li><span class="flaticon-phone-call"></span>(+001) 123-456-7890</li>
								<li><span class="icon flaticon-placeholder-1"></span>Example.com</li>
								<li><span class="flaticon-clock-2"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
							</ul>
						</div>
						<!-- Social Box -->
						<ul class="social-box">
							<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
							<li class="twitter"><a href="#" class="fab fa-instagram"></a></li>
							<li class="linkedin"><a href="#" class="fab fa-twitter"></a></li>
							<li class="instagram"><a href="#" class="fab fa-pinterest-p"></a></li>
							<li class="youtube"><a href="#" class="fab fa-linkedin-in"></a></li>
						</ul>
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- start techno slider Area -->
<!--==================================================-->
<div class="breatcumb-area">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-12">
				<div class="breatcumb-content text-center">
					<div class="breatcumb-title">
						<h2>SERVICES</h2>
					</div>
					<div class="breatcumb-content-text">
						<ul>
							<li><a href="{% url 'index' %}">home</a> <i class="fas fa-angle-double-right"></i> <span>SERVICES</span></li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End techno slider Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start techno service Area -->
<!--==================================================-->
<div class="service-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 padding-left">
				<div class="dreamit-section-title text-left">
					<h5>SERVICES</h5>
					<h1>EXPERIENCE EXCELLENCE WITH OUR</h1>
					<h1>COMPREHENSIVE <span>RANGE OF SERVICES</span></h1>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 padding-left">
				<div class="techno-sinlge-service-box">
					<div class="techno-service-box-inner">
						<div class="techno-service-content">
							<div class="techno-service-icon">
								<i class="flaticon-growth"></i>
							</div>
							<div class="techno-service-title">
								<h2>SEO Consultancy</h2>
								<p>Boost your online presence and maximize
									visibility with our expert Digital SEO Consultancy.
									Our team of seasoned professionals analyzes your website,
									conducts in-depth keyword research, and implements
									strategic optimization techniques to improve
									your search engine rankings</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 padding-left">
				<div class="techno-sinlge-service-box-1">
					<div class="techno-service-box-inner">
						<div class="techno-service-content">
							<div class="techno-service-icon">
								<i class="flaticon-clock"></i>
							</div>
							<div class="techno-service-title">
								<h2>UI/UX Designing</h2>
								<p>Elevate user experiences and captivate your audience with our
									exceptional UI/UX Design services. Our skilled designers create
									intuitive and visually stunning interfaces that engage users
									and drive conversions.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-12 padding-left">
				<div class="techno-sinlge-service-box-1">
					<div class="techno-service-box-inner">
						<div class="techno-service-content">
							<div class="techno-service-icon">
								<i class="flaticon-pen"></i>
							</div>
							<div class="techno-service-title">
								<h2>App Development</h2>
								<p>Unlock the potential of your business with our cutting-edge
									App Development services. Our expert team designs and
									develops high-performing mobile applications tailored to
									your unique requirements. From concept
									to deployment, we ensure a seamless user experience,
									stunning visuals, and robust functionality.</p>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="col-lg-3 col-md-6 col-sm-12 padding-left">
				<div class="techno-sinlge-service-box">
					<div class="techno-service-box-inner">
						<div class="techno-service-content">
							<div class="techno-service-icon">
								<i class="flaticon-chat"></i>
							</div>
							<div class="techno-service-title">
								<h2>Web Designing</h2>
								<p>
									Experience the art
									of exceptional web design with our creative and skilled team. We craft visually stunning and user-centric websites that captivate audiences and deliver exceptional user experiences. From responsive layouts to intuitive navigation, we ensure your website stands out from the crowd. Partner with us to create a captivating online presence that
									engages visitors, drives conversions,
									and reflects your unique brand identity.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


<!--==================================================-->
<!-- End techno service Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start techno service Area -->
<!--==================================================-->

<!--==================================================-->
<!-- End techno service Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start techno feature Area -->
<!--==================================================-->

<!--==================================================-->
<!-- End techno feature Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start techno brand Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start techno Footer Middle Area -->
<!--==================================================-->
<
<!--==================================================-->
<!-- scrollup section -->
<div class="scroll-area">
	<div class="top-wrap">
		<div class="go-top-btn-wraper">
			<div class="go-top go-top-button">
				<i class="fas fa-arrow-up"></i>
				<i class="fas fa-arrow-up"></i>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start scrollup section Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"><i class="far fa-times-circle"></i></span></button>
	<button class="close-search"><i class="fas fa-arrow-up"></i></button>
	<form method="post" action="#">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->

<!-- jquery js -->	
<script src="{% static 'assets/js/vendor/jquery-3.2.1.min.js' %}"></script>
<!-- bootstrap js -->	
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- carousel js -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- counterup js -->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<!-- waypoints js -->
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<!-- wow js -->
<script src="{% static 'assets/js/wow.js' %}"></script>
<!-- imagesloaded js -->
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<!-- venobox js -->
<script src="{% static 'venobox/venobox.js' %}"></script>
<!-- ajax mail js -->
<script src="{% static 'assets/js/ajax-mail.js' %}"></script>
<!--  animated-text js -->	
<script src="{% static 'assets/js/animated-text.js' %}"></script>
<!-- venobox min js -->
<script src="{% static 'venobox/venobox.min.js' %}"></script>
<!-- isotope js -->
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<!-- jquery nivo slider pack js -->
<script src="{% static 'assets/js/jquery.nivo.slider.pack.js' %}"></script>
<!-- jquery meanmenu js -->	
<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!-- jquery scrollup js -->	
<script src="{% static 'assets/js/jquery.scrollUp.js' %}"></script>
<!-- slick js -->	
<script src="{% static 'assets/js/theme.js' %}"></script>
<!-- slick js -->
<script src="{% static 'assets/js/slick.js' %}"></script>
<!-- slick js -->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!-- jquery js -->
<script src="{% static 'assets/js/jquery.barfiller.js' %}"></script>
<!-- jquery js -->	
<script>
	$(document).ready(function(){
		$('#bar3').barfiller({ duration: 7000 });
		$('#bar4').barfiller({ duration: 7000 });});
	</script>
	<!--faq jquery-->
	<script>
		(function($) {
			$('.accordion > li:eq(0) a').addClass('active').next().slideDown();

			$('.accordion a').click(function(j) {
				var dropDown = $(this).closest('li').find('p');

				$(this).closest('.accordion').find('p').not(dropDown).slideUp();

				if ($(this).hasClass('active')) {
					$(this).removeClass('active');
				} else {
					$(this).closest('.accordion').find('a.active').removeClass('active');
					$(this).addClass('active');
				}

				dropDown.stop(false, true).slideToggle();

				j.preventDefault();
			});
		})(jQuery);
	</script>
	<!--jave script -->
	<script>
		$(window).on('scroll', function () {
			var scrolled = $(window).scrollTop();
			if (scrolled > 300) $('.go-top').addClass('active');
			if (scrolled < 300) $('.go-top').removeClass('active');
		});

		$('.go-top').on('click', function () {
			$("html, body").animate({
				scrollTop: "0"
			}, 1200);
		});
	</script>

	<script>
		"use strict";
		jQuery(document).ready(function (o) {
			0 < o(".offset-side-bar").length &&
			o(".offset-side-bar").on("click", function (e) {
				e.preventDefault(), e.stopPropagation(), o(".cart-group").addClass("isActive");
			}),
			0 < o(".close-side-widget").length &&
			o(".close-side-widget").on("click", function (e) {
				e.preventDefault(), o(".cart-group").removeClass("isActive");
			}),
			0 < o(".navSidebar-button").length &&
			o(".navSidebar-button").on("click", function (e) {
				e.preventDefault(), e.stopPropagation(), o(".info-group").addClass("isActive");
			}),
			0 < o(".close-side-widget").length &&
			o(".close-side-widget").on("click", function (e) {
				e.preventDefault(), o(".info-group").removeClass("isActive");
			}),
			o("body").on("click", function (e) {
				o(".info-group").removeClass("isActive"), o(".cart-group").removeClass("isActive");
			}),
			o(".xs-sidebar-widget").on("click", function (e) {
				e.stopPropagation();
			}),
			0 < o(".xs-modal-popup").length &&
			o(".xs-modal-popup").magnificPopup({
				type: "inline",
				fixedContentPos: !2,
				fixedBgPos: !0,
				overflowY: "auto",
				closeBtnInside: !2,
				callbacks: {
					beforeOpen: function () {
						this.st.mainClass = "my-mfp-slide-bottom xs-promo-popup";
					},
				},
			});
		});


	</script>
</body>


</html>
{% endblock %}